:root {
  --navmenu-width: 240px;

  // setcolor
  --background-color: rgb(30, 30, 30);
  --navmenu-color: rgb(41, 41, 41);
  --navmenu-text-color: rgb(112, 112, 112);
  --navmenu-tab-active-color: rgb(63, 63, 63);
  --navmenu-tab-acive-text-color: white;
}
